@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.header_asesorias{
    height: 75px;
}


.seccion_asesorias{
    background-color: v.$gris;

   .all_content-seccion-asesorias{
    text-align: center;
    padding: 0 15px;
    
    .content_header-seccion-asesorias{
        h1{
            margin: 0%;
            padding-top: 2rem;
            font-size: v.$titulo;
        }
        
        p{
            margin-top: 1rem;
        }
    }

    .content_main-seccion-asesorias{
        margin-top: 1rem;
        p{
            margin-top: 1rem;
        }
    }

    .content_footer-seccion-asesorias{
        margin-top: 1rem;
        padding-bottom: 3rem ;

        p{
            margin-top: 1rem;
        }
    }
   }
}

.seccion_recomendacion-cursos{
    .content_acceso-producto{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .content_imagen-acceso-producto{
            margin: 20px 0;
            text-align: center  ;
            img{
                width: 500px;
                border: 2px solid v.$negro;
            }
        }

        .content_parrafo-acceso-producto{
            margin: 20px 0;

            h2{
                margin-bottom: 10px;
            }

            p{
                margin-bottom: 10px;
                line-height: 30px;
            }

            a{
                button{
                    margin-top: 2rem;
                    padding: 30px 100px;
                    background-color: v.$azul;
                    border: none;
                    border-radius: 5px;
                    transition: .25s;
                    color: v.$blanco;
                    height: auto;
                    
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                        color: v.$morado;

                    }
                }
            }
        }
    }
}

.seccion_recomendacion-cursos{
    @include m.phone{
        text-align: center;
        .content_acceso-producto{
            display: block;

            .content_imagen-acceso-producto{
                img{
                    width: 300px;
                }
            }
        }
    }

    @include m.tablet{
        text-align: center;
        .content_acceso-producto{
            display: block;

            .content_imagen-acceso-producto{
                img{
                    width: 400px;
                }
            }
        }
    }

    @include m.desktop{
        text-align: center;
        .content_acceso-producto{
            display: block;

            .content_imagen-acceso-producto{
                img{
                    width: 500px;
                }
            }
        }
    }

    @include m.desktopXl{
        text-align: center;
        .content_acceso-producto{
            .content_imagen-acceso-producto{
                img{
                    width: 400px;
                }
            }
        }
    }
}

