//Paleta de colores
$gris: #E5E7E9;
$azul: #0E45C4; 
$blanco :#ffff;
$azulClaro: #326EF7;
$negro: black;
$morado: #76448A;

//Fuentes
$body: 'PT Sans', sans-serif;

//Tamaños de fuentes
$titulo: 4rem;
$parrafo: 1.2rem;

//Tamaño de los media queries
$phone: 480px;
$tablet-min: 481px;
$tablet-max: 768px;
$desktop: 992px;
$desktopXl: 1200px;