@use '../base/variables' as v;
@use '../base/mixins' as m;

.header_info{
    background-color: v.$blanco;
}

.all_content-beneficios{
    height: 820px;
    padding-top: 4rem;
    align-items: center;
    display: grid;
    gap: 120px;
    grid-template-columns: repeat(2, 1fr);

    .content_beneficios{
        .content_titulo-beneficio{
            .titulo_beneficio{
                width: 426px;
                font-size: v.$titulo;
                margin: 0% auto;

            }
        }
        .beneficios{
            .beneficio{
                margin: 0% auto;
                margin-top: 3rem;
                width: 500px;
                display: flex;

                .content_logo-beneficio{
                    img{
                        width: 50px;
                        border-radius: 50px;
                    }
                }

                .content_info-beneficio{
                    h2{
                        width: 100%;
                    }

                    p{
                        width: 426px;
                    }
                }
            }
        }
    }

    .content_imagen-autor{
        text-align: center;

        img{
            box-shadow: 0 0 10px 1px v.$azul;
            border-radius: 5px;
        }
    }
}

//Versión responsive
.all_content-beneficios{
    @include m.phone{
        margin-top: 2rem;
        height: auto;
        display: block;
        text-align: center;

        .content_beneficios{
            .content_titulo-beneficio{
                .titulo_beneficio{
                    width: auto;
                }
            }

            .beneficios{
                .beneficio{
                    width: 311px;
                    margin: 0% auto;
                    margin-top: 2rem;
                    .content_info-beneficio{
                        width: auto;
                        h2{
                            width: auto;
                        }

                        p{
                            width: 260px;
                        }
                    }
                }
            }
         }

         .content_imagen-autor{
            text-align: center;

            img{
                box-shadow: 0 0 10px 1px v.$azul;
                border-radius: 5px;
                margin-top: 2rem;
            }
        }
    }

    @include m.tablet{
            display: block;
            height: auto;
            margin-top: 2rem;

            .content_imagen-autor{
                text-align: center;
                margin-top: 2rem;
            }
    }

    @include m.desktop{
        display: block;
        margin-top: 2rem;
        height: auto;

        .content_imagen-autor{
            text-align: center;
            margin-top: 2rem;
        }
    }

    @include m.desktopXl{
        .content_beneficios{
            padding-left: 1rem;
        }
    }
}

//--SECCION CURSO--*******************************************
.seccion_curso{
    background-color: v.$gris;

    .content_info-seccion-curso{
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .content_imagen-curso{
            text-align: center;
            img{
                width: 500px;
                border-radius: 5px;
                box-shadow: 0 0 5px 1px v.$azul;
            }
        }

        .content_info-curso{
            h1{
                font-size: 3rem;
            }
            p{
                width: 70%;
            }

            .content_button-comprar{
                margin-top: 2rem;
                a{
                    button{
                        padding: 20px 50px;
                        background-color: v.$azulClaro;
                        border-radius: 5px;
                        border: 1px solid v.$negro;
                        transition: .25s;
                        color: v.$blanco;

                        &:hover{
                            cursor: pointer;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

//Versión responsive
.seccion_curso{
    @include m.phone{
        .content_info-seccion-curso{
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .content_imagen-curso{
                img{
                    width: 300px;
                    margin-top: 3rem;
                    transition: 0.5s;
                }
            }

            .content_info-curso{
                grid-column: 1/2;
                grid-row: 1/2;
                text-align: center;

                p{
                    width: auto;
                }
            }
        }
    }

    @include m.tablet{
        .content_info-seccion-curso{
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .content_imagen-curso{
                img{
                    width: 400px;
                    margin-top: 3rem;
                    transition: 0.5s;
                }
            }

            .content_info-curso{
                grid-column: 1/2;
                grid-row: 1/2;
                text-align: center;

                p{
                    width: auto;
                }
            }
        }
    }

    @include m.desktop{
        .content_info-seccion-curso{
            display: grid;
            grid-template-columns: repeat(1, 1fr);

            .content_imagen-curso{
                img{
                    margin-top: 3rem;
                    transition: 0.5s;
                }
            }

            .content_info-curso{
                grid-column: 1/2;
                grid-row: 1/2;
                text-align: center;

                p{
                    width: auto;
                }
            }
        }
    }
}


//--SECCION MODULOS--*****************************************
.seccion_modulos{
    .content_titulo-modulo{
        h1{
            text-align: center;
            font-size: v.$titulo;
        }
    }
    .content_modulo{
        background-color: v.$azulAguaMarina;
        width: 70%;
        height: 400px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% auto;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .modulo{
            width: 50%;            
        }

        .content_circulo{
            .circulo{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: v.$azulClaro;
                opacity: 20%;
                //Inclinación, Arriba, abajo y espacio que hay entre estos
                background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(202, 199, 199, 0.5) 15px, rgba(202, 199, 199, 0.5) 20px);
                margin-left: 1rem;
            }
        }
       
        

    }
}

//Versión responsive
.seccion_modulos{
    @include m.phone{
        .content_modulo{
            display: block;
            height: auto;
           
            .modulo{
                width: 90%;
                margin: 0% auto;  
                padding-top: 10px;             
            }

            .content_circulo{
                .circulo{
                    width: 200px;
                    height: 200px;
                    margin: 0% auto;
                    margin-top: 1rem;
                }
            }
        }
    }

    @include m.tablet{
        .content_modulo{
            display: block;
            height: auto;
           
            .modulo{
                width: 90%;
                margin: 0% auto;  
                padding-top: 10px;             
            }

            .content_circulo{
                .circulo{
                    width: 200px;
                    height: 200px;
                    margin: 0% auto;
                    margin-top: 1rem;
                }
            }
        }
    }

    @include m.desktop{
        .content_modulo{
            .content_circulo{
                .circulo{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}