@use '../base/variables' as v;
@use '../base/mixins' as m;

.encabezado{
    background-color: v.$azulClaro;

    .nav_cerrar{
        a{
            button{
                width: 150px;
            }
        }
    }
}

@include m.phone{
    .encabezado{   
        .nav_cerrar{
            a{
                button{
                    position: relative;
                    left: 40px;
                }
            }
        }
    }
}

@include m.tablet{
    .encabezado{   
        .nav_cerrar{
            a{
                button{
                    width: 150px;
                    position: relative;
                    right: 50px;
                }
            }
        }
    }
}

.all_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 800px;
    align-items: center;
    justify-content: center;
    align-items: center;

    .content_bienvenida{
        text-align: center;
        .content_titulo-bienvenida{
            h1{
                font-size: v.$titulo;
                color: v.$blanco;
            }
        }

        .content_parrafo-bienvenida{
            p{
                font-size: 1.5rem;
                line-height: 2;
                color: v.$blanco;
            }
        }

        .content_button-bienvenida{
            button{
                padding: 20px 60px 20px 60px;
                border-radius: 5px;
                border: 2px solid v.$negro;
                transition: .25s;
                color: v.$blanco;
                background-color: v.$azul;

                &:hover{
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }

    .content_figura-bienvenida{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: 1/1;
        grid-column: 1/2;
        width: 700px;
        height: 600px;
        padding-top: 3rem;
        .figura_1{
            background-image: url(/src/img/finanzas.jpg);
            background-size: cover;
            background-position: -150px;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            border: 4px dashed v.$azul;
            transform: translateY(200px) translateX(200px);
            z-index: 1;
        }

        .figura_2{
            background-color: transparent;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            border: 4px dashed v.$azul;
            background-image: url(/src/img/finanza1.jpg);
            background-size: cover;
        }

        .figura_3{
            background-color: transparent;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            border: 4px dashed v.$azul;
            transform: translateX(-200px) translateY(200px);
            background-image: url(/src/img/finanza2.jpg);
            background-size: cover;
        }
    }
}

//Versión responsive
.all_content{
   @include m.phone{
    display: block;
    padding-top: 5rem;

    .content_bienvenida{
        width: 100%;

        .content_button-bienvenida{
            margin-top: 1rem;
        }
    }
    .content_figura-bienvenida{
        display: none;
    }
   }

   @include m.tablet{
    display: block;
    padding-top: 7rem;

    .content_bienvenida{
        width: 100%;

        .content_button-bienvenida{
            margin-top: 1rem;
        }
    }
    .content_figura-bienvenida{
        display: none;
    }
   }

   @include m.desktop{
    display: block;
    height: auto;
    padding-top: 5rem;

    .content_figura-bienvenida{
        justify-content: center;
        width: 100%;
        margin: 0%;
    }
   }
}


//--CURSOS---**//
.cursos{
    .content_titulo-catalogo{
        h1{
            font-size: v.$titulo;
            text-align: center;
        }
    }

    .content_catalogo-cursos{
        .content_curso{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;

            .curso{

                .titulo_curso{
                    margin-top: 2rem;
                }
                .imagen_curso{
                    img{
                        width: 500px;
                        border-radius: 5px;
                        border: 1px solid v.$negro;
                        margin-top: 1rem;
                    }
                }

                .content_button-curso{
                    text-align: end;
                    width: 500px;
                    margin: 0% auto;
                    margin-top: 2rem;
                    margin-bottom: 2rem;

                    button{
                        padding: 15px 40px;
                        background-color: v.$azul;
                        border: 1px solid v.$negro;
                        transition: .25s;
                        color: v.$blanco;
                        border-radius: 3px;

                        &:hover{
                            cursor: pointer;
                            transform: scale(1.1);
                            
                        }
                    }
                }

                hr{
                    width: 500px;
                    margin: 0% auto;
                    opacity: 20%;
                }
            }
        }
    }

}

//Versión responsive
.cursos{
    @include m.phone{
        .content_catalogo-cursos{
            .content_curso{
                display: block;
    
                .curso{
                    .imagen_curso{
                        img{
                            width: 300px;
                        }
                    }
    
                    .content_button-curso{
                        text-align: center;
                        width: 100%;
                        
                        button{
                            margin: 0% auto;
                        }
                    }

                    hr{
                        width: 100%;
                    }
                }
            }
        }
    }

    @include m.tablet{
        .content_catalogo-cursos{
            .content_curso{
                display: block;
    
                .curso{
                    .imagen_curso{
                        img{
                            width: 400px;
                        }
                    }
    
                    .content_button-curso{
                        width: 400px;
                        
                        button{
                            margin: 0% auto;
                        }
                    }

                    hr{
                        width: 100%;
                    }
                }
            }
        }
    }

    @include m.desktop{
        .content_catalogo-cursos{
            .content_curso{
                display: block;
            }
        }

    }

    @include m.desktopXl{
        .content_catalogo-cursos{
            .content_curso{
                .curso{
                    .imagen_curso{
                        img{
                            width: 400px;
                        }
                    }

                    .content_button-curso{
                        width: 400px;
                    }
                }
            }
        }
    }
}