@use '../base/variables' as v;
@use '../base/mixins' as m;

footer{
    background-color: v.$negro;
    .content_exito{
        text-align: center;

        .title_footer{
            font-size: 2.5rem;
            padding-top: 2rem;
            margin-bottom: 1rem;
            color: v.$blanco;
        }

        .info{

            a{
                text-decoration: none;
                color: v.$blanco;
                margin: 0px 10px;

                &:hover{
                    color: v.$morado;
                }
            }
        }
    }

    .content_redes{
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
        padding-bottom: 2rem;


        .copy{
            p{
                font-size: 15px;
                color:  v.$blanco;
            }
        }

        .redes{
            a{
                width: 50px;
                color: v.$blanco;

                &:hover{
                    color: v.$morado;
                }
            }
        }


    }
}

//Versión responsive
footer{
    @include m.phone{
        .content_redes{
            display: block;
            text-align: center;
    
            .redes{
                margin-top: 2rem;
            }
        }
    }


    @include m.tablet{
        .content_redes{
            display: block;
            text-align: center;
        
                .redes{
                    margin-top: 2rem;
                }
            }
        }
    
}