@use '../base/variables' as v;
@use '../base/mixins' as m;

header{
    height: 820px;
    background-color: v.$gris;
}

@include m.phone{
    header{
        height: auto;
    }
}

@include m.tablet{
    header{
        height: auto;
    }
}

@include m.desktop{
    header{
        height: auto;
    }
}
.navbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    background-color: v.$blanco;
    height: 75px;
    position: fixed;
    top: 0%;
    width: 100%;


    .image{
        img{
            width: 100px;
            position: relative;
            bottom: 25px;
            left: 8rem;
        }
    }

    .content_toggle{
        display: none;
    }

    ul{     
        padding-top: 25px;
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: v.$negro;

                &:hover{
                    color: v.$morado;
                }
            }
        } 
    }

    .nav_1-off{
        ul{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
        }
    }

    .content_navbar-small{
        display: none;
    }

    .nav_3{
       padding-top: 15px;

       a{
        button{
            margin: 0 5px 0 5px;
            color: v.$blanco;
            padding: 12px;
            width: 112px;
            background-color: v.$azulClaro;
            border: none;
            border-radius: 5px;
            transition: .25s;

            &:hover{
                color: v.$morado;
                cursor: pointer;
                transform: scale(1.1);
            }
        }
       }
    }
}


//Versión responsive
.navbar{
    //Teléfono
    @include m.phone{
        z-index: 1;
        .logo_luis{
            display: none;
        }

        .nav_1-off{
          display: none;
        }

        .content_navbar-small{
            display: block;

            .menu_hamburguesa{
                width: 40px;
                position:absolute;
                top: 17px;
                left: 0%;
                right: 0%;
            }

            .content_menu-desplegable{
                background-color: v.$negro;
                transition: 0.5s;
                visibility: inherit;
                width: 200px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;
                z-index: 1;
                


                .content_menu{
                    display: flex;
                    padding-top: 20px;
                    justify-content: center;

                    h4{
                        color: v.$blanco;
                        height: 30px;
                        margin: 0 5px;
                    }

                    span{
                        position: relative;
                        margin: 0 5px;

                        .cerrar{
                            width: 20px;
                            filter: invert(100%);
                        }
                    }

                    
                }
                    
            }

            .content_enlaces-small{

                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$blanco;
                        border-radius: 5px;
                        margin: 0% auto;
                        text-align: center;
                        margin-top: 10px;

                        a{
                            color: v.$negro
                        }
                    }
                    
                }
            }
        }

        .nav_3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            position: relative;
            right: 80px;

            a{
                button{
                    margin: 0%;
                    text-align: center;
                    transition: .25s transform;
                    width: 45px;

                    &:hover{
                        transform: scale(1.1);

                    }
                }
            }           
        }
    }
    //Tablet
    @include m.tablet{
        .logo_luis{
            display: none;
        }

        .nav_1-off{
           display: none;
        }

        .content_navbar-small{
            display: block;

            .menu_hamburguesa{
                width: 40px;
                position:absolute;
                top: 17px;
                left: 0%;
                right: 0%;
            }

            .content_menu-desplegable{
                background-color: v.$negro;
                visibility: inherit;
                width: 250px;
                align-items: center;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0; 
                bottom: 0%;
                position: fixed;
                z-index: 1;
                transition: .20s;
                


                .content_menu{
                    display: flex;
                    padding-top: 20px;
                    justify-content: center;

                    h4{
                        color: v.$blanco;
                        height: 30px;
                        margin: 0 5px;
                    }

                    span{
                        position: relative;
                        margin: 0 5px;

                        .cerrar{
                            width: 20px;
                            filter: invert(100%);
                        }
                    }

                    
                }
                    
            }

            .content_enlaces-small{

                ul{
                    display: block;

                    li{
                        padding: 10px ;
                        width: 90%;
                        background-color: v.$blanco;
                        border-radius: 5px;
                        margin: 0% auto;
                        text-align: center;
                        margin-top: 10px;

                        a{
                            color: v.$negro
                        }
                    }
                    
                }
            }
        } 

        .nav_3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            position: relative;
            right: 80px;

            a{
                button{
                    margin: 0%;
                    text-align: center;
                    transition: .25s transform;

                    &:hover{
                        transform: scale(1.1);

                    }
                }
            }           
        }
    }

    @include m.desktop{
        .image{
           display: none;
        }
        .nav_1-off{
            padding-left: 8rem;
            ul{
                li{
                    width: 65px;
                }
            }
        }
        .nav_3{ 
            display: flex;
            position: relative;
            right: 20px;
        }
    }

    @include m.desktopXl{
        .nav_1-off{
            ul{
                li{
                    width: 65px;
                }
            }
        }

        .nav_3{
            display: flex;
            position: relative;
            right: 50px;
        }
    }
}

//Versión desktop
.all_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    .content_1{
        .section_info{
            padding-top: 6rem;
            padding-left: 5rem;

            h1{
                font-size: v.$titulo;
                font-weight: 900;
            }

            p{
                line-height: 25px;
            }

            a{
                button{
                    margin-top: 10px;
                    padding: 15px 40px;
                    background-color: v.$azul;
                    text-align: center;
                    transition: .25s transform;
                    border: none;
                    border-radius: 5px;
                    color: v.$blanco;

                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }
            }           
        }   
    }

    .content_2{
        video{
            width: 90%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;        
            margin-top: 8rem;
            box-shadow: 0 0 20px 1px v.$azul;

        }
       
    }
}

//Versión responsive
.all_content{
    @include m.phone{
        display: block;

        .content_1{
            padding-left: 5px;
            .section_info{
                padding: 0%;

                h1{
                    width: auto;
                    font-size: 2.5rem;
                }

                p{
                    width: auto;
                }

                .content_boton-iniciar{
                    text-align: center;
                   a{
                    button{
                        padding: 15px 60px;
                        margin-bottom: 20px;
                    }
                   }
                } 
            }
        }

        .content_2{
            text-align: center;

           video{
            display: none;
           }
        }
    }
    @include m.tablet{
        display: block;

        .content_1{
            padding-left: 5px;
            .section_info{
                padding: 0%;

                h1{
                    width: auto;
                }

                p{
                    width: auto;
                }

                .content_boton-iniciar{
                    text-align: center;
                   a{
                    button{
                        padding: 15px 60px;
                        margin-bottom: 20px;
                    }
                   }
                } 
            }
        }

        .content_2{
            text-align: center;

           video{
            display: none;
           }
        }
    }

    @include m.desktop{
        display: block;

        .content_2{
            text-align: center;
            video{
                width: 60%;
                margin-bottom: 2rem;
            }
        }
    }
}
