@use '../base/variables' as v;
@use '../base/mixins' as m;

header{
    height: 820px;
    background-color: v.$gris;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    background-color: v.$blanco;
    height: 75px;
    .image{
        img{
            width: 100px;
            position: relative;
            bottom: 25px;
            left: 8rem;
        }
    }

    .content_toggle{
        display: none;
    }

    ul{     
        padding-top: 25px;
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: v.$negro;

                &:hover{
                    color: v.$morado;
                }
            }
        } 
    }

    .nav_1{
        ul{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 30px;
        }
    }

    .nav_3{
       padding-top: 15px;

       a{
        button{
            margin: 0 5px 0 5px;
            color: v.$blanco;
            padding: 12px;
            width: 112px;
            background-color: v.$azulClaro;
            border: none;
            border-radius: 5px;
            transition: .25s;

            &:hover{
                color: v.$morado;
                cursor: pointer;
                transform: scale(1.1);
            }
        }
       }
    }
}


//Versión responsive
.navbar{
    @include m.phone{
        .logo_luis{
            display: none;
        }

        .nav_1{
            
            width: 170px;
            visibility: inherit;
            position: fixed;
            top: 0%;
            bottom: 0;
            left: 0%;
            right: 0%;
            background-color: v.$negro;
            z-index: 1;
            ul{
                display: block;
                li{
                    background-color: v.$blanco;
                    padding: 10px;
                    margin: 0% auto;
                    margin-top: 10px;
                    border-radius: 5px;
                    text-align: center;
                    width: 90%;             
                }
            }

            .content_toggle{
                display: block;
                img{
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: 18px;
                    left: 50px;
                }
            }

        }

        .nav_3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            a{
                button{
                    margin: 0%;
                    position: relative;
                    right: 10px;
                    text-align: center;
                }
            }           
        }
    }
}

