<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de usuario</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="/src/img/mano_finanzas.png">
    <link rel="stylesheet" href="../../../build/css/app.css">
</head>
<body>
    <header class="encabezado">
        <nav class="navbar nav">
            <div class="image">
                <img src="../../../src//img/logo-l.png" alt="Luis Buelvas Logo" class="logo_luis">
            </div>

            <div class="nav_1-off">                   
                <div class="content_enlaces">
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#cursos">Biblioteca</a></li>
                        <li><a href="#opiniones">Asesorías</a></li>   
                    </ul>
                </div>
            </div>

            <!-- Menú de navegación versión teléfono -->
            <div class="content_navbar-small">
                <div>
                    <span>
                        <img src="../../../src/img/menu.png" alt="hamburguesa" class="menu_hamburguesa">
                    </span>
                </div>

                <div class="content_menu-desplegable" style="display: none;">
                    <div class="content_menu">
                        <h4>Menú</h4>
                        <span>
                            <img src="../../../src/img/x.png" alt="cerrar" class="cerrar">
                        </span>
                    </div>
                    <div class="content_enlaces-small">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="#cursos">Biblioteca</a></li>
                            <li><a href="#opiniones">Asesorías</a></li>
                        </ul>
                    </div>
                </div>

               
            </div>

            <div class="nav_3">
                <a href="/views/interfaces/formularios/form_iniciar-sesion.html" target="_blank"><button class="sing_in">Cerrar sesión</button></a>
            </div>
        </nav>

        <div class="all_content">
            <div class="content_bienvenida">
                <div class="content_titulo-bienvenida">
                    <h1>Bienvenido</h1>
                </div>

                <div class="content_parrafo-bienvenida">
                    <p>Te saluda Luis Gabriel Buelvas Romero, te doy las <br> gracias por interesarte en mis cursos, aquí encontrarás <br> todos los cursos disponibles y toda la información <br> relacionada con ellos</p>
                </div>

                <div class="content_button-bienvenida">
                    <a href="#cursos"> <button>Ir a cursos ---></button></a>
                   
                </div>
            </div>

            <div class="content_figura-bienvenida">
                <div class="figura_1">

                </div>

                <div class="figura_2">
                    
                </div>

                <div class="figura_3">
                    
                </div>

            </div>
        </div>
    </header>

    <main id="cursos">
        <div>
            <h1>Catálogo de cursos</h1>
        </div>

        <div class="content_catalogo-cursos">
            <div class="content_curso">
                <div class="curso">
                    <div class="titulo_curso">
                        <h2>Educación Financiera</h2>
                    </div>

                    <div class="imagen_curso">
                        <img src="../../../src/img/finanzas.png" alt="">
                    </div>

                    <div class="content_button-curso">
                        <button>Ver curso</button>
                    </div>

                    <hr>

                </div>

                <div class="curso">
                    <div class="titulo_curso">
                        <h2>Educación Financiera</h2>
                    </div>

                    <div class="imagen_curso">
                        <img src="../../../src/img/finanzas.png" alt="">
                    </div>

                    <div class="content_button-curso">
                        <button>Ver curso</button>
                    </div>
                    
                    <hr>
                </div>

                <div class="curso">
                    <div class="titulo_curso">
                        <h2>Educación Financiera</h2>
                    </div>

                    <div class="imagen_curso">
                        <img src="../../../src/img/finanzas.png" alt="">
                    </div>

                    <div class="content_button-curso">
                        <button>Ver curso</button>
                    </div>

                    <hr>
                </div>

                <div class="curso">
                    <div class="titulo_curso">
                        <h2>Educación Financiera</h2>
                    </div>

                    <div class="imagen_curso">
                        <img src="../../../src/img/finanzas.png" alt="">
                    </div>

                    <div class="content_button-curso">
                        <button>Ver curso</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="content_exito">
            <h3 class="title_footer">Éxitos</h3>
            <div class="info">
                <a href="#">Sobre mí</a>
                <a href="#">Pólitica de privacidad</a>
                <a href="#">Ayuda</a>
            </div>
        </div>
       

        <div class="content_redes">
            <div class="copy">
                <p>&copy; 2022 Luis Gabriel Buelvas Romero. Todos los derechos reservados</p>
            </div>

            <div class="redes">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>              
                <a href="https://www.youtube.com/channel/UCmo9j6u3RgvChsm8j8gVJ3A" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../../../src/js/app.js"></script>
    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>

</body>
</html>