<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="icon" href="/src/img/mano_finanzas.png">
    <link rel="stylesheet" href="../../../build/css/app.css">
</head>
<body>
    <header class="header_biblioteca">
            <nav class="navbar nav">
                <div class="image">
                    <img src="../../../src/img/logo-l.png" alt="Luis Buelvas Logo" class="logo_luis">
                </div>
    
                <div class="nav_1-off">                   
                    <div class="content_enlaces">
                        <ul>
                            <li><a href="../interfaz_usuario/interfaz_usuario.html">Inicio</a></li>
                            <li><a href="#">Biblioteca</a></li>
                            <li><a href="../asesorias/asesorias.html">Asesorías</a></li>   
                        </ul>
                    </div>
                </div>
    
                <!-- Menú de navegación versión teléfono -->
                <div class="content_navbar-small">
                    <div>
                        <span>
                            <img src="../../../src/img/menu.png" alt="hamburguesa" class="menu_hamburguesa">
                        </span>
                    </div>
    
                    <div class="content_menu-desplegable" style="display: none;">
                        <div class="content_menu">
                            <h4>Menú</h4>
                            <span>
                                <img src="../../../src/img/x.png" alt="cerrar" class="cerrar">
                            </span>
                        </div>
                        <div class="content_enlaces-small">
                            <ul>
                                <li><a href="../interfaz_usuario/interfaz_usuario.html">Inicio</a></li>
                                <li><a href="#cursos">Biblioteca</a></li>
                                <li><a href="../asesorias/asesorias.html">Asesorías</a></li>
                            </ul>
                        </div>
                    </div>
    
                   
                </div>
    
                <div class="nav_3 nav_cerrar">
                    <a href="/views/interfaces/formularios/form_iniciar-sesion.html"><button class="sing_in" type="button">Cerrar sesión</button></a>
                </div>
            </nav>

            <div class="content_all-bienvenida-biblioteca">
                <div class="content_titulo-bienvenida-biblioteca">
                    <h1>Bienvenido a tu biblioteca de productos</h1>
                </div>

                <div class="content_descripcion-bienvenida-biblioteca">
                    <p>Te saluda Luis Gabriel Buelvas Romero. Para mí es un placer que te encuentres aquí, en la <b>biblioteca de productos</b></p>

                    <p>Aquí en la biblioteca de producto podrás acceder a los productos adquiridos, en la parte inferior encontrás recomendaciones de otros cursos que podrían ser de tu interés</p>

                    <p>Da click en acceder a este producto para ingresa a todo el contenido del <b>producto adquirido</b></p>
                </div>

                <hr>

                <div class="content_acceso-producto">
                    <div class="content_imagen-acceso-producto">
                        <img src="../../../src/img/finanza1.jpg" alt="Monedas">
                    </div>

                    <div class="content_parrafo-acceso-producto">
                        <h2>Finanazas personales | completo</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus ex aperiam dicta dolor reiciendis odit est aspernatur earum? Sed, corrupti. Autem numquam quia molestiae dignissimos eos corrupti voluptates eveniet deserunt?</p>
                        <a href="#"><button>Acceder al producto</button></a>
                    </div>
                </div>

                <hr>
            </div>
    </header>

    <!-- Sección catálogos de cursos -->
    <section class="seccion_catalogo-curso">
        <div class="content_titulo-catalogo-curso">
            <h2>Catálogo de cursos disponibles</h2>
        </div>
        
        <div class="content_parrafo-catalogo-curso">
            <p>Aquí veras diferentes productos que posiblemente sean de tu interés, los cuales podrás <b>adquirir y complementar tu biblioteca</b> con el objetivo de ampliar tus conocimientos de tal manera que seas mejor cada día</p>

            <p><b>Échale un vistazo y ordénalos</b> para llevar tu vida al siguiente nivel:</p>
        </div>

        <hr>

        <div class="content_ofrecer-catalogo-curso">
            <div class="catalogo">
                <div class="content_image-catalogo">
                    <img src="../../../src/img/finanza1.jpg" alt="catalogo">
                </div>

                <div class="content_info-detalle-producto">
                    <div>
                        <h2>Finanzas personales</h2>
                    </div>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo rerum quae nemo, aperiam dignissimos enim odio molestias dolore, aut nesciunt nisi officiis iste doloribus, veniam quidem praesentium asperiores veritatis?</p>
                    </div>

                    <div class="content_boton-detalle-producto">
                        <a href="../info_curso/info_curso.html">
                            <button>Ver detalles del producto</button>
                        </a>
                        <a href="#">
                            <p>Click aquí para ordenar <br> el producto ahora</p>
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="catalogo">
                <div class="content_image-catalogo">
                    <img src="../../../src/img/finanza1.jpg" alt="catalogo">
                </div>

                <div class="content_info-detalle-producto">
                    <div>
                        <h2>Finanzas personales</h2>
                    </div>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo rerum quae nemo, aperiam dignissimos enim odio molestias dolore, aut nesciunt nisi officiis iste doloribus, veniam quidem praesentium asperiores veritatis?</p>
                    </div>

                    <div class="content_boton-detalle-producto">
                        <a href="../info_curso/info_curso.html">
                            <button>Ver detalles del producto</button>
                        </a>
                        <a href="#">
                            <p>Click aquí para ordenar <br> el producto ahora</p>
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="catalogo">
                <div class="content_image-catalogo">
                    <img src="../../../src/img/finanza1.jpg" alt="catalogo">
                </div>

                <div class="content_info-detalle-producto">
                    <div>
                        <h2>Finanzas personales</h2>
                    </div>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo rerum quae nemo, aperiam dignissimos enim odio molestias dolore, aut nesciunt nisi officiis iste doloribus, veniam quidem praesentium asperiores veritatis?</p>
                    </div>

                    <div class="content_boton-detalle-producto">
                        <a href="../info_curso/info_curso.html">
                            <button>Ver detalles del producto</button>
                        </a>
                        <a href="#">
                            <p>Click aquí para ordenar <br> el producto ahora</p>
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="catalogo">
                <div class="content_image-catalogo">
                    <img src="../../../src/img/finanza1.jpg" alt="catalogo">
                </div>

                <div class="content_info-detalle-producto">
                    <div>
                        <h2>Finanzas personales</h2>
                    </div>

                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo rerum quae nemo, aperiam dignissimos enim odio molestias dolore, aut nesciunt nisi officiis iste doloribus, veniam quidem praesentium asperiores veritatis?</p>
                    </div>

                    <div class="content_boton-detalle-producto">
                        <a href="../info_curso/info_curso.html">
                            <button>Ver detalles del producto</button>
                        </a>
                        <a href="#">
                            <p>Click aquí para ordenar <br> el producto ahora</p>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="content_dudas">
            <p>Si tienes dudas, no dudes con comentarlas al correo <b>luis@gmail.com</b></p>
        </div>
    </section>

    <footer>
        <div class="content_exito">
            <h3 class="title_footer">Éxitos</h3>
            <div class="info">
                <a href="#">Sobre mí</a>
                <a href="#">Pólitica de privacidad</a>
                <a href="#">Ayuda</a>
            </div>
        </div>
    
        <div class="content_redes">
            <div class="copy">
                <p>&copy; 2022 Luis Gabriel Buelvas Romero. Todos los derechos reservados</p>
            </div>

            <div class="redes">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>              
                <a href="https://www.youtube.com/channel/UCmo9j6u3RgvChsm8j8gVJ3A" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/1fb0613f73.js" crossorigin="anonymous"></script>
    <script src="src/js/app.js"></script>
</body>
</html>