<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario iniciar sesión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="views/formulario/form_iniciar-sesion.css">
</head>
<body>
    <header>
    <nav class="navar">
            <div class="image">
                <img src="src/img/logo-l.png" alt="Luis Buelvas Logo" class="logo_luis">
            </div>

            <div class="nav_1">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Cursos</a></li>
                    <li><a href="">Sobre mí</a></li>
                </ul>
            </div>
            
            <div class="nav_2">
                <ul>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>

            <div class="nav_3">
                <a href=""><button class="sing_in">Iniciar sesión</button></a>
                <a href=""><button class="register">Registrarse</button></a>
            </div>
        </nav>
    </header>


    
</body>
</html>